/*********************************************************
* Description: Primary style sheet for personal portfolio
* Author: Eileen Velez Tyler
*********************************************************/


body {
    background-color: rgb(159, 84, 159); /* This is a shade of purple. */
    }
    h1 {
    color: black;
    background-color: pink;
    text-align: center;
    font-family: cursive;
    }
    h2 {
    font-family: cursive;
    border-bottom: 3px solid pink; /* Add a line below h2s */
    }
    ul {
    list-style-type: square; /* Changes the bullets to squares */
    }


    .footer {
        background-color: pink;
        font-weight: bold;
        font-size: 120%;
        text-align: center;
        font-family: cursive;
    }